:root {
  --color-white: hsl(0, 0%, 100%);
  --color-brown: hsl(27, 22%, 51%);
  --color-soft-black: hsl(0, 0%, 7%);
  --color-deep-blue: hsl(234, 30%, 13%);
  --color-dark-gray: hsl(218, 21%, 18%);
  --color-gray: hsl(217, 14%, 42%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

body {
  background-color: var(--color-soft-black);
  font-family: "Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-dark-gray);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.025rem;
}

@media (min-width: 37.5rem) {
  h1 {
    font-size: 3rem;
    line-height: 1.333;
    letter-spacing: -0.0375rem;
  }
}

@media (min-width: 65.625rem) { 
  h1 {
    font-size: 4rem;
    line-height: 1.125;
    letter-spacing: -0.05rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.025rem;
}

@media (min-width: 37.5rem) {
  h2 {
    font-size: 2.5rem;
    line-height: 1.4;
    letter-spacing: -0.0313rem;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.555;
  letter-spacing: -0.0138rem;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: -0.0119rem;
  max-width: 30ch;
}

@media (min-width: 37.5rem) {
  p {
    font-size: 1.125rem;
    letter-spacing: -0.0138rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

:focus-visible {
  outline-offset: .5rem;
  outline: 0.125rem solid var(--color-brown);
  transition: none;
}